html{
    font-size: 62.5%;

}
body{
    font-size: 16px;
}




body {

    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none; 
    z-index: 1; 
}

header {
    background-color: transparent;
    border-bottom: white solid 2px;
    padding: 10px 20px;
    position: fixed;
    width: 85%;
    margin-left: 90px;
    top: 20px;
    z-index: 1000;
}

.navbar {
    display: inline-flex;
    float: left;
}
.navbar-logo{
    margin-right: auto;
}

.navbar-logo img {
    height: 40px;
}
.navbar-menu
{
    margin-top: 12px;
    margin-left: 20px ;
    display: flex;
    justify-content: flex-end;
}
.navbar-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu ul li {
    margin: 0 15px;
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.navbar-menu ul li a:hover {
    color: #ccc;
}


.navbar-icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;

}

.navbar-icons p{
    padding: 0px 15px;
}
.navbar-icons a {
    margin-left: 15px;
    color: #fff;
    background-position: right;
}

.navbar-icons img {
    height: 20px;
    width: 20px;
    background-position: right;
}
.navbar-separate{
    justify-content: space-between;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 0;
    min-height: 100vh;
    z-index: 2;
    margin-top: -170px;
    margin-left: 40px;
    
}

.hero-content {
    max-width: 50%;
    z-index: 2;
    
}
.hero-content h3{
    letter-spacing: 8px;
    font-variant-east-asian: jis04;
    font-weight: 150;
}

.hero-content h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    z-index: 2;
    
}

.hero-content h1 {
    font-size: 50px;
    margin: 10px 0;
    z-index: 2;
}

.hero-x h1 {
    font-size: 150px;
    margin: 0;
    z-index: 2;
    font-variant-east-asian: jis04;
    font-weight: 150;

}

.hero-x p {
    font-size: 24px;
    margin-top: -30px;
    z-index: 2;
    font-variant-east-asian: jis04;
    font-weight: 150;
    
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #0056b3;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}